$plate_margin: scale(0.25, $unit);
$plate_padding-horizontal: scale(2, $unit);
$plate_padding-vertical: scale(1.5, $unit);

$image_margin: scale(0.5, $unit);
$image_side: calc_image_side($unit, $plate_padding-horizontal, $image_margin);

.plate {
  position: relative;
  margin: 0 $plate_margin;
  padding: $plate_padding-vertical $plate_padding-horizontal;
  background-color: $paleturquoise-95;

  .logo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 100px;
    top: -25px;
    left: scale(0.5, $unit);
    border: 2px solid $powderblue-10;
  }

  .drinks {
    display: flex;
    flex-direction: column;

    .drinks__kinds {
      display: flex;
      justify-content: space-between;

      .drinks__kind {
        display: inline-block;
        padding: 3px;
      }
    }

    .drinks__products {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      .drinks__product {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 $image_side;
        height: $image_side;
        margin: $image_margin;
      }

      .drinks__product:hover {
        border: 4px solid $sandybrown-80;
      }

      .drinks__product--bijou {
        @include fill_background("bijou.jpg");
      }

      .drinks__product--negroni {
        @include fill_background("negroni.jpg");
      }

      .drinks__product--mojito {
        @include fill_background("mojito.jpg");
      }

      .drinks__product--rattlesnake {
        @include fill_background("rattlesnake.jpg");
      }

      .drinks__product--eggnogg {
        @include fill_background("eggnogg.jpg");
      }

      .drinks__product--zinger {
        @include fill_background("zinger.jpg");
      }
    }
  }
}
